body{
  font-family: 'Raleway', sans-serif;
}
.App {
  text-align: center;
}
.bodyImage {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.componentCont{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.component{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  border:1px solid;
  width: 500px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 7px;
}
h1{
  color: white;
  font-size: 60px;
}
h2{
  display: flex;
  text-align: center;
  font-size: 25px;
  font-weight: 900;
}
.cuisine{
  font-size: 20px;
}
.colories{
  font-size: 20px;
  font-weight: 900;
  color: #7f1d07;
}
.searchIcon{
  background-color: #ae4730;
  border: none;
}
input{
  width: 350px;
  height: 30px;

  font-size: 20px;
  /* border: 1px solid #6acc02; */
}
form{
  display:flex;
  justify-content: center;
}
ul{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
li{
  list-style-type: none;
}
a{
  color: #7f1d07;
}
.text{
  font-size: 18px;
}
@media all and (max-width:500px){
  .component{
    
    width: 350px;
  }
  .img{
    width: 330px;
    height: 330px;
  }
  h1{
    font-size: 40px;
  }
  input{
    width: 300px;
  }
  li{
    font-size: 15px;
    text-align: left;
  }
}
